<!DOCTYPE html>

<head>
    <meta name = 'viewport' content = 'width=device-width' />
    <link rel="stylesheet" href="/static/styles.css" type="text/css" />

</head>

<body>
    <div id = 'background'>
        <div id = 'content-container'>
            <div class = "text-center">
                <h1 class = 'heading'> MAL Higher or Lower</h1>

                <p> Can you guess which anime ranks higher in terms of popularity? </p>

                <div class='play-button' onclick="loadGame()">Play</div>
            </div>

        </div>
    </div>
</body>