<!DOCTYPE html>

<head>
    <meta name = 'viewport' content = 'width=device-width' />
    <link rel="stylesheet" href="/static/styles.css" type="text/css" />
    <link rel="stylesheet" href="/static/gameIPstyles.css" />
    <script src="/static/scripts/getPool.js"></script>
    <script src="/static/scripts/playButton.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    

    <script type="text/javascript">
        let data_json = '{{anime_list}}';

        let animePool = new AnimePool(data_json);
    </script>

</head>

<body>
    <div id = 'background'>
        <div id = 'content-container'>
            <div class = "text-center">
                <div id="heading-bg"><h1 class = 'heading'> MAL <br /> Higher or Lower</h1></div>

                <p id="startText"> Can you guess which anime ranks higher <br /> in terms of popularity? </p>

                <div class='play-button' onclick="loadGameStart(animePool.queryData(animePool.pullFromPool()), animePool.queryData(animePool.pullFromPool()))">Play &#187</div>
            </div>

        </div>
    </div>
</body>